@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="afrimart"] {
    /* You can add additional custom styles here */
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
